/* Стили для header */

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    margin: 0 auto;
    background-color: var(--header-bg-color);
    font-size: 1.5em;
    font-family: var(--font-headers);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 1%;
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 40px;
    margin-right: 10px;
}

nav {
    margin-right: 1%;
    display: flex;
    gap: 10px;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: var(--accent-color);
}

/* Добавлено свойство vertical-align */
/* Добавлены стили для hover-эффекта и нового изображения home-cover.png */
nav a:hover::before {
    content: url('images/menu icons/home-cover.png');
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    top: 0;
    left: 0;
    z-index: -1;
}
nav a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    position: relative; 
}

nav a img {
    vertical-align: middle;
}

nav a img {
    display: block;
    margin: 0 auto;
}


.mobile-menu{
    display: none;
}

.menu-items a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    display: flex;
    font-size: 1.5em;
    line-height:normal;
    align-items: center;
    position: relative;
}

.menu-items a:hover {
    color: var(--accent-color);
}

.menu-items a:hover::before {
    content: url('images/menu icons/home-cover.png');
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    top: 0;
    left: 0;
    z-index: -1;
}

.menu-items a img {
    vertical-align:middle;
}

.menu-items a img {
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 768px){ 
    .pc-menu {
        display: none;
    }

    .menu-items {
        display: none;
    }

    .menu-toggle{
        display: none;
    }
    
    .mobile-menu{
        display: block;
    }
   
    .menu-toggle:checked + .burger-icon + .menu-items {
        display: flex;
    }

    .menu-items {
        display: none;
        position: fixed;
        top: -25px;
        left: 0;
        width: 100%;
        height: 120%;
        background-color: var(--header-bg-color);
        flex-direction:column;
        align-items: center;
        justify-content:center;
        z-index: -1;
    }
    
    .burger-icon {
        position: fixed;
        top: 6%;
        right:0%;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .burger-icon span {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: rgb(255, 255, 255);
        top: 50%;
        transition: opacity 1s ease-in-out;
        opacity: 1;
    }

    .menu-toggle:checked + .burger-icon span {
        opacity: 0;
    }
    
    .burger-icon::before,
    .burger-icon::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: rgb(255, 255, 255);
        top: 50%;
        transition: all 1s ease-in-out;
    }

    .burger-icon::before {
        top: 90%;
    }

    .burger-icon::after {
        top: 10%;
    }

    /* Анимация для палочек */
    

    .menu-toggle:checked + .burger-icon::before {
        transform: rotate(45deg) translateY(-300%) translateX(-25%);
        background-color: var(--accent-color);
    }

    .menu-toggle:checked + .burger-icon::after {
        transform: rotate(-45deg) translateY(300%) translateX(-25%);
        background-color: var(--accent-color);
    }

}

