/* Стили для main */

main {
    max-width: 1000px;
    margin: 150px auto 20px;
    padding: 20px;
    background-color: var(--main-bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, main h1 {
    color: var(--accent-color);
    font-family: var(--font-headers);
}

main h1 {
    font-size:xx-large;
}

p {
    line-height: 1.6;
}

.weather-icon {
    max-width: 100px;
    display: block;
    margin: 20px auto;
}

/* Добавленные стили для формы */
#cityForm {
    text-align: center;
    margin-top: 20px;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

#cities {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#cities:focus {
    outline: none;
    border-color: #4CAF50;
}

input[type="button"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #45a049;
}

#weatherContainer {
    display: none;
}

.video {
    width: 95%;  
    height: 25em;
    margin: 1%;
    display: flex;
    flex-direction: column;
    transition : 0.3s ease-in-out;
    border-radius : 15px;
}

.video:hover {
    height: 25em;  
    box-shadow : 0 5px 20px;
}

.video-video iframe {
    width: 100%;
    height: 25em;
}

.video-sign { 
    background-color: black;
    color: white;
    padding: 3%;
    border-radius: 5%;
    text-align: center;
    visibility : hidden;
    opacity : 0;
    transition : 0.4s ease-out;
}

.video:hover .video-sign {
    margin: -20% 5%;
    visibility : visible;
    opacity : 1;
    transition-delay: 0.3s;
}


/* Стили для списка советов */

.tips-list {
    list-style-type: none;
    padding: 0;
}

.tips-list li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.tips-list li:before {
    content: "•"; /* Замените символ на любой другой, если нужно */
    color: var(--accent-color); /* Цвет символа */
    font-size: 1.2em;
    position: absolute;
    left: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-img {
    margin: 5px;
    overflow: hidden;
    border: 2px solid gray;
    border-radius: 8px;
    max-width: 30%;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-color 0.5s ease-in-out;
}

.gallery-img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-color: var(--accent-color);
}

.weather-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#head-scroll {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-transition: opacity 1.5s, -webkit-transform 1.5s;
    transition: opacity 1.5s, -webkit-transform 1.5s;
    transition: opacity 1.5s, transform 1.5s;
    transition: opacity 1.5s, transform 1.5s, -webkit-transform 1.5s;
}

#space-bar::after {
    top:100%;
    position: relative;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);
    display: block;
    margin: 10px 0;
}

/* Mobile styles */
@media only screen and (max-width: 767px) {
    main {
        margin-top: 100px; /* Adjusted top margin for smaller screens */
    }

    /* Adjust font size for better readability on smaller screens */
    h2, main h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 16px;
    }

    /* Adjust other styles as needed for mobile devices */

    .gallery-img {
        max-width: 100%; /* Ширина 100% для полного экрана на мобильных устройствах */
    }

}




