/* Стили для сайдбара */

.menu-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.category-menu ul {
    list-style-type: none;
    padding: 0;
}

.category-menu a {
    color: #ececec;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s ease-in-out;
}

.category-menu a:hover {
    color: #ff5722;
}




.sorting-section,
.price-filter-section {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}



#min-price,
#max-price,
#min-price-aside,
#max-price-aside {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box; 
}



.sidebar {
    z-index: 1;
    width: 250px;
    background-color: var(--header-bg-color);
    color: #ececec;
    padding: 20px;
    position: fixed;
    top: 80px; 
}

#sorting-header,
#sorting-aside {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}


:target::before {
    content: "";
    display: block;
    height: 150px;
    margin-top: -100px;
}

#filter-button,#filter-button-aside  {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
    animation-duration: 0.3s; 
}

#filter-button:hover, #filter-button-aside:hover {
    animation-name: fillHover; 
    animation-fill-mode: forwards; 
}

#filter-button:active, #filter-button-aside:active {
    animation-name: pressAnimation; 
}

@keyframes fillHover {
    to {
        background-color: #d84315;
    }
}

@keyframes pressAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
}




.price-filter-section label,
.price-filter-section input {
    display: inline-block; 
    margin-bottom: 10px;
}



.price-filter-section label {
    margin-right: 10px;
}

#min-price-aside,
#max-price-aside {
    width: calc(50% - 5px);
    padding: 8px;
    box-sizing: border-box;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}


.price-filter-section input {
    width: calc(50% - 5px); 
    padding: 8px;
    box-sizing: border-box;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

#min-price,
#max-price {
    width: calc(50% - 5px); 
    padding: 8px;
    box-sizing: border-box;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}




.sorting-section-mobile,
.price-filter-section {
    text-align: center; 
}

.sorting-section-mobile a,
.price-filter-section a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    display: block;
    font-size: 1em;
    margin-bottom: 10px;
}

.sorting-section-mobile a:hover,
.price-filter-section a:hover {
    color: var(--accent-color);
}

.sorting-section-mobile a:hover::before,
.price-filter-section a:hover::before {
    content: url('images/menu icons/home-cover.png');
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    top: 0;
    left: 0;
    z-index: 1;
}

.price-filter-section .filter-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10%;
}

.price-filter-section .filter-row label,
.price-filter-section .filter-row input {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; 
}

#min-price-aside,
#max-price--aside {
    width: calc(50% - 5px);
    padding: 8px;
    box-sizing: border-box;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}










